In [14]:
import os
import pandas as pd

In [9]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [11]:
os.listdir(DATA_DIR)

['daily.csv', 'monthly.csv', 'weekly.csv']

In [15]:
my_data = os.path.join(DATA_DIR,'daily.csv')
print(os.path.exists(my_data))

True

In [106]:
df = pd.read_csv(my_data)

In [109]:
df['data'] = df['Unnamed: 0']

In [114]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [116]:
df.set_index('data')

              open      high     low   close   volume
data
2020-08-21  123.01  123.4842  122.31  123.16  3385051
2020-08-20  123.20  124.0400  122.81  123.15  2561164
2020-08-19  124.83  125.5000  123.50  123.84  3743949
2020-08-18  125.00  125.5000  124.24  124.92  2882355
2020-08-17  125.25  125.5900  124.41  124.44  3336459
...            ...       ...     ...     ...      ...
2020-04-07  118.80  119.5700  114.87  114.94  5595300
2020-04-06  110.35  115.6300  110.13  114.82  7034200
2020-04-03  108.92  110.0700  104.92  106.34  4538800
2020-04-02  105.37  110.3200  105.14  110.00  6328700
2020-04-01  106.36  109.9200  104.52  105.14  6112900

[100 rows x 5 columns]