In [1]:
import os
import pandas as pd

In [22]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR,'cache')
os.makedirs(CACHE_DIR, exist_ok = True)

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

daily.csv
monthly.csv
weekly.csv

In [5]:
df = pd.read_csv(os.path.join(DATA_DIR,'monthly.csv'))

In [9]:
df['frequency'] = 'monthly'

In [16]:


my_dataframes = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith('.csv')]
for filename in (csv_files):
    print(filename)
    frequency = filename.replace('.csv','')
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['frequency'] = frequency
    print(this_df.head(1))
    my_dataframes.append(this_df)

daily.csv
   Unnamed: 0    open      high     low   close   volume   filename frequency
0  2020-08-21  123.01  123.4842  122.31  123.16  3385051  daily.csv     daily
monthly.csv
   Unnamed: 0   open    high     low   close    volume     filename frequency
0  2020-08-21  123.5  130.47  122.15  123.16  52245334  monthly.csv   monthly
weekly.csv
   Unnamed: 0    open    high     low   close    volume    filename frequency
0  2020-08-21  125.25  125.59  122.31  123.16  15908978  weekly.csv    weekly

In [19]:
my_entire_dataframe = pd.concat(my_dataframes)
my_entire_dataframe.head()

   Unnamed: 0    open      high     low   close   volume   filename frequency
0  2020-08-21  123.01  123.4842  122.31  123.16  3385051  daily.csv     daily
1  2020-08-20  123.20  124.0400  122.81  123.15  2561164  daily.csv     daily
2  2020-08-19  124.83  125.5000  123.50  123.84  3743949  daily.csv     daily
3  2020-08-18  125.00  125.5000  124.24  124.92  2882355  daily.csv     daily
4  2020-08-17  125.25  125.5900  124.41  124.44  3336459  daily.csv     daily

In [20]:
my_entire_dataframe.tail()

,Unnamed: 0,open,high,low,close,volume,filename,frequency
1080,1999-12-10,113.00,122.12,107.56,109.00,58626000,weekly.csv,weekly
1081,1999-12-03,104.94,112.87,102.12,111.87,37670000,weekly.csv,weekly
1082,1999-11-26,105.50,109.87,101.81,105.00,37165600,weekly.csv,weekly
1083,1999-11-19,96.00,105.12,92.62,103.94,61550800,weekly.csv,weekly
1084,1999-11-12,90.50,97.50,90.50,95.87,43569700,weekly.csv,weekly

In [23]:
dataset = os.path.join(CACHE_DIR, 'stock-market-dataset')
my_entire_dataframe.to_csv(dataset, index=False)